@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&family=Lato&family=Material+Icons&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    min-width: 330px;
}
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
    background-color: red;
}